.tak-layout-expansion-panel-container {
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}
.tak-layout-expansion-panel {
  &-body {
    background-color: transparent;
    transition: max-height 0.2s ease-out;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
  }
  &-container {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  &-header {
    border: none;
    position: relative;
    overflow: hidden;
    min-height: 40px;
    min-width: 30px !important;
    width: 100%;
    padding: 0 5px 0 1px;
    white-space: nowrap;
    padding: 3px 32px 3px 10px;
    background: transparent;
    font-weight: bolder;
    align-items: center;
    text-align: justify;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    width: 100%;
    color: var(--tak-layout-dark-color);
    /*  &.is-module {
      opacity: 1;
    } */
    @media only screen and (min-width: calc($SIDEBAR_MD_RESOLUTION - 1px)) {
      &:not(.is-module):hover {
        background-color: rgba(226, 226, 226, 0.46) !important;
        transition: background ease 0.3s;
      }
    }
    &:not(.is-module)::after {
      color: rgb(182, 182, 182) !important;
      margin-right: 3px;
    }
    &:not(.is-module):not(.is-link)::after {
      font-family: Roboto, 'Helvetica Neue', sans-serif;
      transition: transform 0.3s ease;
      font-size: 18px !important;
      position: absolute;
      content: '\203A';
      right: 1rem;
    }
    &:not(.is-module):not(.is-link).active::after {
      transition: transform 0.3s ease;
      transform: rotate(90deg);
    }
  }
}
