.tak {
  &__container {
    margin-left: var(--tak-sidebar-compact-width);
    transition: margin-left ease 0.3s;
  }
  &__outlet {
    min-height: calc(
      (100vh - 1px) -
        (
          var(--tak-header-height) + var(--tak-footer-height) +
            (var(--tak-layout-outlet-padding) * 2)
        )
    );
    color: var(--tak-layout-dark-color);
    padding: var(--tak-layout-outlet-padding);
  }
  &__scroll {
    height: calc(100vh - var(--tak-header-height));
    overflow-y: overlay;
    color: transparent;
    overflow-x: hidden;
    @media only screen and (min-width: calc($SIDEBAR_MD_RESOLUTION - 1px)) {
      &::-webkit-scrollbar {
        background-color: var(--tak-layout-scrollbar-thumb-background-color);
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        color: var(--tak-layout-hover-scrollbar-thumb-color);
        box-shadow: inset 0 0 0 5px;
        border-radius: 10px;
      }
    }
  }
}
.tak__header-container {
  box-shadow: var(--tak-header-container-box-shadow);
}
.tak__layout__container {
  background-color: var(--tak-layout-container);
}
.main-content-wrap {
  height: calc(100vh - var(--tak-header-height));
  overflow: auto !important;
  flex-direction: column;
  position: relative;
  display: flex;
  float: right;
}
