.tak__sidebar {
  &__container {
    border-right-color: var(--tak-sidebar-container-border-right);
    background-color: var(--tak-sidebar-background-color);
    border-right-style: solid;
    border-right-width: 1px;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
  }
  &__branding {
    background-color: var(--tak-sidebar-background-color);
    color: var(--tak-sidebar-branding-color);
    height: var(--tak-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
    &__logo {
      width: 24px;
    }
    &__toggle {
      display: none !important;
    }
    &__title,
    & > div > tak-slide-toggle {
      margin-left: 6px;
    }
    &__title {
      width: 150px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__content {
    position: fixed;
    min-height: 100vh;
    &::after {
      background-color: var(--tak-sidebar-after-background-color);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      content: '';
      left: 0;
      top: 0;
    }
  }
  &__content {
    overflow: hidden;
  }
  &__divider {
    border-top-color: var(--tak-divider-border-top-dark-color);
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    padding: 5px;
    margin: 0;
    &.no-padding {
      padding: 0;
    }
  }
}

.tak__sidebar__mobile-toggle-sidebar-button {
  background-color: var(--tak-layout-overlay-backdrop-background-color);
  height: calc(100vh);
  width: calc(100vw);
  position: fixed;
  border: none;
  cursor: default;
  display: none;
  z-index: 998;
  float: left;
}
.tak__sidebar__branding__toggle {
  .toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }

  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .button {
    position: relative;
    top: 50%;
    width: 32px;
    height: 17px;
    margin: 0 auto 0 auto;
    overflow: hidden;
  }

  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }

  .button.b2 {
    border-radius: 2px;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: var(--tak-sidebar-slide-toggle-bar-background-color);
    transition: 0.3s ease all;
    z-index: 1;
  }

  /* Button 1 */
  #button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 1px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 6px 1px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }

  #button-1 .checkbox:checked + .knobs:before {
    // content: 'NO';
    left: 18px;
    background-color: var(--tak-sidebar-slide-button-knobs-background-color);
  }

  #button-1 .checkbox:checked ~ .layer {
    background-color: var(--tak-sidebar-slide-button-knobs-opacity-background-color);
  }

  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
}
