$SNAV_CNTNR_PDNG_BTM: 10px;
$SNAV_CNTNR_PDNG_TOP: 10px;
.tak__sidenav {
  &__container {
    padding-top: $SNAV_CNTNR_PDNG_TOP;
    padding-bottom: $SNAV_CNTNR_PDNG_BTM;
    height: calc(
      100vh - (var(--tak-header-height) + $SNAV_CNTNR_PDNG_BTM + $SNAV_CNTNR_PDNG_TOP + 1px)
    );
    transition: color ease 0.2s;
    overflow-y: overlay;
    overflow-x: hidden;
    color: transparent;
    .icon-link:not(.is-module) {
      display: none;
    }
    @media only screen and (min-width: calc($SIDEBAR_MD_RESOLUTION - 1px)) {
      &::-webkit-scrollbar {
        background: transparent;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border: 1px solid transparent;
        background-clip: padding-box;
        box-shadow: inset 0 0 0 5px;
        border-radius: 10px;
        &:hover {
          color: var(--tak-sidenav-scrollbar-thumb-hover-color);
        }
      }
      .icon-link:not(.is-module) {
        display: block;
      }
    }
    &:hover {
      transition: color ease 0.2s;
      color: var(--tak-sidenav-hover-scrollbar-thumb-color);
    }
  }
  &__accordion {
    &__link-name {
      margin-left: 5px;
    }
    &__link-button {
      @media only screen and (min-width: calc($SIDEBAR_MD_RESOLUTION - 1px)) {
        &:hover {
          background-color: var(--tak-sidenav-link-hover-background-color);
          transition: background-color ease 0.3s;
        }
      }
      color: var(--tak-layout-dark-color);
      width: 100%;
      background-color: transparent;
      border: none;
      min-height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: justify;
      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        margin-left: 15px;
        white-space: nowrap;
      }
    }
  }
}
.is-module.tak-layout-expansion-panel-header {
  color: gray;
}
