<div class="tak-form-container">
  <tak-form-field
    [class.tak-form-field-invalid]="isInvalid || (isSubmitted && control.invalid)"
    [appearance]="appearance"
    [color]="color"
  >
    <tak-label>
      <ng-content></ng-content>{{ ' ' }}<span class="tak-field__danger-x" *ngIf="required">*</span>
    </tak-label>
    <input
      takInput
      [autocomplete]="autocomplete"
      [takAutocomplete]="auto"
      [value]="value"
      (keyup)="onChange($event)"
      (change)="onChange($event)"
      [disabled]="disabled"
      [attr.maxLength]="maxLength"
      (focus)="onFocus()"
      (focusout)="onFocusout()"
    />
    <button tak-icon-button takSuffix>
      <tak-spinner
        [diameter]="15"
        mode="indeterminate"
        *ngIf="isRemoteSearch && isLoading"
      ></tak-spinner>
    </button>
    <button
      tak-icon-button
      takSuffix
      type="button"
      *ngIf="(control.value || value) && hasClearButton"
      (click)="onClearControl()"
    >
      <tak-icon>close</tak-icon>
    </button>
    <tak-autocomplete #auto="takAutocomplete">
      <tak-option
        *ngFor="let suggestion of filteredOptions | async"
        [value]="suggestion[option]"
        [class.tak-option-extra]="extraInfo"
        (onSelectionChange)="emit($event)"
        (click)="emitWithClick(suggestion)"
        title="{{ suggestion[option] }} {{ extraInfo ? '(' + suggestion[extraInfo] + ')' : '' }}"
      >
        <span>{{ suggestion[option] }}</span>
        <span *ngIf="extraInfo" class="tak-option-span-extra">{{ suggestion[extraInfo] }}</span>
      </tak-option>
      <tak-option *ngIf="notSuggestions">
        <span class="tak-autocomplete-not-records"> No se encuentran resultados </span>
      </tak-option>
    </tak-autocomplete>
  </tak-form-field>
  <tak-error [control]="control" *ngIf="isInvalid || (isSubmitted && control.invalid)"></tak-error>
</div>
