.tak-admin-layout {
  &-container {
    position: absolute;
    & > .tak-sidenav {
      width: 200px;
    }
  }
  &-header {
    top: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tak-admin-layout {
  &-header {
    color: #fff !important;
  }
  &-footer {
    background-color: transparent !important;
    border-top: 1px solid var(--tak-divider-border-color);
  }
}
.tak-dark-theme {
  .tak-admin-layout {
    &-header {
      background-color: rgb(54, 57, 76) !important;
      border-right: none;
      border-left: none;
      border-top: none;
    }
    &-footer {
      background-color: rgb(54, 57, 76) !important;
      border-right: none;
      border-left: none;
      border-bottom: none;
    }
  }
}

$PADDING_TAK_CONTAINER: 20px;

.tak-container {
  min-height: calc(100vh - (128px + $PADDING_TAK_CONTAINER * 2));
  padding: $PADDING_TAK_CONTAINER;
  margin-top: 64px;
}
