@mixin darkThemeTakLayout() {
  --tak-header-background-color: rgb(54, 57, 76);
  --tak-header-container-box-shadow: none;
  --tak-footer-background-color: rgb(54, 57, 76);
  --tak-sidebar-after-background-color: rgba(42, 49, 66, 0.95);
  --tak-sidebar-background-color: rgb(42, 49, 66);
  --tak-sidebar-slide-toggle-bar-background-color: rgba(255, 255, 255, 0.38);
  --tak-sidenav-scrollbar-thumb-hover-color: rgba(192, 192, 192, 0.862);
  --tak-sidenav-hover-scrollbar-thumb-color: rgba(192, 192, 192, 0.562);
  --tak-layout-scrollbar-thumb-background-color: #333947af;
  --tak-sidenav-link-active-background-color: rgba(218, 218, 218, 0.15);
  --tak-sidenav-link-hover-background-color: rgba(226, 226, 226, 0.46);
  --tak-sidenav-link-icon-color: rgb(50, 50, 50);
  --tak-sidenav-link-icon-color: rgb(218, 218, 218);
  --tak-breadcrumb-color: #d1d1d1;
  --tak-breadcrumb-active-color: #ececec;
  --tak-breadcrumb-title-color: #ececec;
  --tak-layout-container: rgb(37, 39, 53);
  --tak-loader-overlay-backdrop-background-color: rgba(73, 73, 73, 0.3);
  --tak-divider-border-top-light-color: rgba(214, 214, 214, 0.12);
  --tak-sidebar-container-border-right: rgb(95, 95, 95, 0.4);
  --tak-divider-border-top-dark-color: var(--tak-sidebar-container-border-right);
  --tak-layout-overlay-backdrop-background-color: rgba(73, 73, 73, 0.32);
  --tak-layout-scrollbar-thumb-background-color: #333947af;
  --tak-layout-light-color: #000;
  --tak-layout-dark-color: #cecece;
  --tak-layout-opacity-dark-color: rgba(255, 255, 255, 0.12);
}

.tak-layout.tak-dark-theme {
  @include darkThemeTakLayout();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkThemeTakLayout();
  }
}
