$DEFAULT_PADDING: 10px;
.tak-box-form {
  .tak-card.actions-hidden {
    padding: 0;
  }
  .tak-card > .tak-card-actions:last-child {
    margin-bottom: -8px;
    padding: 8px;
  }
  .tak-card-actions {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tak-card {
    padding: 0 0 8px 0;
  }
  .tak-box-form {
    &__branding {
      font-family: Roboto, 'Helvetica Neue', sans-serif;
      padding: $DEFAULT_PADDING;
      text-overflow: ellipsis;
      font-weight: bolder;
      white-space: nowrap;
      overflow: hidden;
      &__subtitle {
        &::before {
          content: '\A';
          white-space: pre;
        }
      }
    }
    &__scroll {
      height: auto;
      overflow: auto;
    }
    &__content {
      padding: $DEFAULT_PADDING;
    }
  }
}
