.tak-modal {
  &__top-container {
    display: flex;
    justify-content: space-between;
    margin: -20px -20px;
    padding: 0 10px;
  }
  &__title,
  &__content {
    font-family: 'bodycommerce';
  }
  &__title {
    font-size: 20px;
    font-family: 'titlecommerce';
  }
  &__content {
    padding: 0 24px;
    font-size: 14px;
  }
  &__buttons {
    display: flex;
    & button {
      font-weight: bolder !important;
      text-transform: uppercase;
    }
    &.tak-modal-one {
      justify-content: end;
    }
    &.tak-modal-two {
      justify-content: space-between;
    }
  }
  .tak-dialog-content {
    padding: 0;
  }
}
