<div class="tak-form-container">
  <tak-form-field
    [floatLabel]="floatLabel"
    [class.tak-form-field-invalid]="isInvalid || (isSubmitted && control.invalid)"
    [appearance]="appearance"
    [color]="color"
  >
    <tak-label>
      <ng-content></ng-content>{{ placeholder }}{{ ' '
      }}<span class="tak-field__danger-x" *ngIf="required">*</span>
    </tak-label>
    <textarea
      takInput
      [autocomplete]="autocomplete"
      [value]="value"
      (keyup)="onChange($event)"
      (change)="onChange($event)"
      [disabled]="disabled"
      [attr.maxLength]="maxLength"
      (focusout)="onFocusOut()"
    ></textarea>
    <button
      tak-icon-button
      type="button"
      takSuffix
      *ngIf="control.value && hasClearButton"
      (click)="onClearControl()"
    >
      <tak-icon class="tak-suffix-icon-button">close</tak-icon>
    </button>
    <button
      tak-icon-button
      type="button"
      takSuffix
      *ngIf="control.value && hasActionButton"
      (click)="onExecuteAction.emit(control.value)"
    >
      <tak-icon class="tak-suffix-icon-button">{{ actionIcon }}</tak-icon>
    </button>
    <tak-hint align="end" *ngIf="countCaracters">
      {{ control.value?.length || 0 }}/{{ maxLength }}
    </tak-hint>
  </tak-form-field>
  <div [style.maxWidth]="countCaracters ? '80%' : '100%'">
    <tak-error
      [control]="control"
      *ngIf="isInvalid || (isSubmitted && control.invalid)"
    ></tak-error>
  </div>
</div>
